
/* font-family: 'IBM Plex Mono', monospace; */

/* black:#23262F 
White: #F5F5F5
orange:#D05D11 */

.main-container {
  height: 100vh;
  width: 100%;
  background-color:#23262F;
  display: flex;
  justify-content: center;
  align-items: center;
}



h1 {
  text-align: center;
  font-size: 1.5vw;
  font-family: 'IBM Plex Mono', monospace;
  color:#F5F5F5 ;
}

h2 {
  text-align: center;
  font-size: 1.5vw;
  font-family: 'IBM Plex Mono', monospace;
  color:#23262F ;
}

h3 {
  text-align: center;
  font-size: 1vw;
  padding-top: 2vh;
  font-family: 'IBM Plex Mono', monospace;
  color:#F5F5F5 ;
}

p {
  text-align: center;
  font-size: 1vw;
  padding-top: 2vh;
  font-family: 'IBM Plex Mono', monospace;
  color:#23262F ;
}

#about-title {
  padding-top: 32.5vh;
}

#project-title {
  padding-top: 32.5vh;
}

#contact-title {
  padding-top: 32.5vh;
}



.about {
  height: 100vh;
  width: 100%;
  background-color:#F5F5F5;
}

.projects{
  height: 100vh;
  width: 100%;
  background-color:#23262F;
}

#a-simple-calculator:hover {
  color: #D05D11;
}

.contact {
  height: 100vh;
  width: 100%;
  background-color:#F5F5F5;
}

a:link { 
  text-decoration: none;
  color: #23262F;
}


a:visited { 
  text-decoration: none;
  color: #23262F;
}


a:hover { 
  text-decoration: none;
  color: #D05D11;
}


a:active { 
  text-decoration: none;
  color: #D05D11;
}


